<a href="https://colab.research.google.com/github/sebastiansossah/sebastiansossah/blob/main/genderPredicter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Instalamos genderize
!pip install genderize
from genderize import Genderize
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting genderize
  Downloading Genderize-0.3.1-py3-none-any.whl (5.7 kB)
Requirement already satisfied: requests>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from genderize) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=1.0.0->genderize) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=1.0.0->genderize) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=1.0.0->genderize) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=1.0.0->genderize) (3.0.4)
Installing collected packages: genderize
Successfully installed genderize-0.3.1
Mounted at /content/drive

In [5]:
# Cargamos el dataframe
path = ('/content/drive/MyDrive/practice_ds/genderize.io/nombres.xlsx')
df = pd.read_excel(path)
df = df[:10]
df

                            Names
0                    María isabel
1                         Juanita
2                         Milton
3                         Miriam
4                   Luiz Alberto
5                  Luis Alejandro
6                   Pedro Quevedo
7                           Jorge
8   Yuliveth maria Ramos saltarin
9            Nicolas Carlos Mario

In [3]:
#Creamos una funcion que nos va a dejar solo el primer nombre, y lo dejamos en minuscula
def manipulation(string):
  nuevo = string.split()
  nombre_primero = nuevo[0].lower()
  return nombre_primero

#Creamos la funcion que nos va a predecir el genero de la persona
def gender_creation(name):
  r = Genderize().get([name])
  gender = r[0]['gender']   
  return gender

#Aplicamos las funciones creadas 
df['Names'] = df['Names'].apply(manipulation)
df['Gender'] = df['Names'].apply(gender_creation)

In [4]:
#Creamos la funcion para enviar el mensaje, en este caso como es de ejemplo solo imprimimos un mensaje
def message_sender(name, gender):
  if gender == 'female':
    print('Es mujer')
  else: 
    print('Es hombre')

for i in range(len(df)):
    name = df.iloc[i]['Names']
    gender = df.iloc[i]['Gender']
    message_sender(name= name, gender= gender)

Es mujer
Es mujer
Es hombre
Es mujer
Es hombre
Es hombre
Es hombre
Es hombre
Es hombre
Es hombre